@font-face {
    font-family: "Actor-Regular";  
    src: url("file:///C:/Users/Ivan/Documents/Devs/Loisirs/fonts/Actor-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
    background-attachment: local; 
} 
html,body {
    margin: 0;
    max-width: 768px;
    background: url(./IMG/ferris-wheel-2618716_1920.jpg);
    
}
.text A {
    color: #BC9898;
    text-decoration: none;
}
.text A:visited {
    color: #BC9898;
    text-decoration: none;
}
.text A:active {
    color: #BC9898;
    text-decoration: none;
}
.card A {
    color: black;
    text-decoration: none;
}
.card A:visited {
    color: black;
    text-decoration: none;
}
.card A:active {
    color: black;
    text-decoration: none;
}    
.container {
    max-width: 768px;
    
}
.nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.content {
    display: flex;
    justify-content: center;
}
.text {
    margin-top: 35vh;
    text-align: center;
}
.text p {
    margin-bottom: 2px;
    color: #BC9898;
    font-size: 28px;
}

/* .contentpage {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    font-family: "Actor-Regular";
    
} */
.logoettext {
    width: 20vw;
}

.logo {
    margin: 10px;
}

.navbar-brand {
     display: none;
}
.bg-light {
    background-color: #7C93CD!important;
    border-radius: 10%;
    opacity: 40%;
}
.cardss {
    margin-top: 30%;
}
form {
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: -webkit-center;
}
.form-control {
    border-radius: 10px;
    width: 350px;
    margin-bottom: 40px;
}
#champe {
    height: 90px;
    text-align: start;
}
.btn-primary {
    width: 110px;
    height: 28px;
    background-color: #849DF5;
    text-align: center;
    padding-top: 2px;
}
.social {
    margin-top: 20vh;
}
.icons img {
    margin: 0 15px 0 15px;
}
.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #7271AD;
}


/* ----------------MEDIA DEMANDES-------------------------------------------- */
@media (min-width: 768px) {
    html,body {
        margin: 0;
        max-width: 1180px;
    }
    .navbar-brand {
        background-color: #7C93CD!important;
    }
    .navbar-brand {
        display: none;
    }
    .container {
        max-width: 1180px;
    } 
    .content {
        display: flex;
        justify-content: center;
    }
    .text {
        margin-top: 35vh;
        text-align: center;
    }
    .cardss {
        margin-top: 1vh;
    }
}
@media (min-width: 1180px) {
    html,body {
        margin: 0;
        max-width: 1400px;
    }
    .navbar-brand {
        background-color: #7C93CD!important;
    }
    .navbar-brand {
        display: none;
    }
    .container {
        max-width: 1400px;
        
    }
    .content {
        display: flex;
        justify-content: center;
        margin-left: 35vw;
    }
    .cardss {
        margin-top: 1vh;
    }
    
}
@media (min-width: 1400px) {
    html,body {
        margin: 0;
        max-width: 1800px;
    }
    .navbar-brand {
        background-color: #7C93CD!important;
    }
    .navbar-brand {
        display: none;
    }
    .container {
        max-width: 1800px;
        
    }
    .content {
        display: flex;
        justify-content: center;
        margin-left: 38vw;
        width: 250px;
    }
    .cardss {
        margin-top: 1vh;
    }
}
